<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOP des films de Will Smith</title>
</head>
<body>
<ol>
    <%
    for (let i = 0; i < films.length; i++) {
    %>
        <li><%= films[i] %></li>
    <%
    }
    %>
</ol>
</body>
</html>