<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOP des films de Will Smith</title>
</head>
<body>
<ol>
    <%
    for (let i = 0; i < films.length; i++) {
    %>
        <li><%= films[i] %></li>
    <%
    }
    %>
</ol>
<form action="/top/add" method="post">
    <label for="film">Film à ajouter : </label>
    <input id="film" name="film" type="text">
    <input type="submit">
</form>
</body>
</html>